<article class="card
    {{#if alternate}} card--alternate{{/if}}" data-test="card-{{id}}" {{#if settings.data_tag_enabled}}
    data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}"
    data-product-category="
        {{#each category}}
            {{#if @last}}
                {{this}}
            {{else}}
                {{this}},
            {{/if}}
        {{/each}}" data-product-brand="{{brand.name}}" data-product-price="
        {{#or customer (unless settings.hide_price_from_guests)}}
            {{#if price.with_tax}}
                {{price.with_tax.value}}
            {{else}}
                {{price.without_tax.value}}
            {{/if}}
        {{else}}
            {{lang 'common.login_for_pricing'}}
        {{/or}}" {{/if}}>
    <figure class="card-figure">
        {{#if stock_level '===' 0}}
        {{#if show_cart_action}}
        {{#if theme_settings.pdp_sold_out_label '===' ''}}
        {{> components/products/product-badge
        badge-type='sold-out'
        badge_view=theme_settings.product_sold_out_badges
        badge_label=(lang "page_builder.pdp_sold_out_label")
        }}
        {{else}}
        {{> components/products/product-badge
        badge-type='sold-out'
        badge_view=theme_settings.product_sold_out_badges
        badge_label=theme_settings.pdp_sold_out_label
        }}
        {{/if}}
        {{/if}}
        {{else if has_options '===' false}}
        {{#and (if stock_level '===' null) show_cart_action}}
        {{#and (unless add_to_cart_url) (unless pre_order)}}
        {{#if theme_settings.pdp_sold_out_label '===' ''}}
        {{> components/products/product-badge
        badge-type='sold-out'
        badge_view=theme_settings.product_sold_out_badges
        badge_label=(lang "page_builder.pdp_sold_out_label")
        }}
        {{else}}
        {{> components/products/product-badge
        badge-type='sold-out'
        badge_view=theme_settings.product_sold_out_badges
        badge_label=theme_settings.pdp_sold_out_label
        }}
        {{/if}}
        {{/and}}
        {{/and}}
        {{else}}
        {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
        {{#if theme_settings.pdp_sale_badge_label '===' ''}}
        {{> components/products/product-badge
        badge-type='sale'
        badge_view=theme_settings.product_sale_badges
        badge_label=(lang "page_builder.pdp_sale_badge_label")
        }}
        {{else}}
        {{> components/products/product-badge
        badge-type='sale'
        badge_view=theme_settings.product_sale_badges
        badge_label=theme_settings.pdp_sale_badge_label
        }}
        {{/if}}
        {{/or}}
        {{/if}}

        <a href="{{url}}" class="card-figure__link" aria-label="{{> components/products/product-info}}" {{#if
            settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
            <div class="card-img-container">
                {{> components/common/responsive-img
                image=image
                class="card-image"
                fallback_size=theme_settings.productgallery_size
                lazyload=theme_settings.lazyload_mode
                default_image=theme_settings.default_image_product
                }}
            </div>
            <figcaption class="card-figcaption">
                <div class="card-figcaption-body">
                    {{#each (limit images 2)}}
                        {{#if @index '>' 0}}
                            <img src={{getImage this ‘productgallery_size’ (cdn theme_settings.default_image_product)}} alt=”{{this.alt}}” title=”{{this.alt}}” class=”second-img”>
                        {{/if}}
                    {{/each}}
                </div>
            </figcaption>
        </a>

    </figure>
    <div class="card-body">
        {{#and rating show_rating}}
        <p class="card-text" data-test-info-type="productRating">
            <span class="rating--small">
                {{> components/products/ratings rating_target=name rating=rating}}
            </span>
        </p>
        {{/and}}
        {{#if brand.name}}
        <p class="card-text" data-test-info-type="brandName">{{brand.name}}</p>
        {{/if}}
        <h3 class="card-title">
            <a aria-label="{{> components/products/product-info}}" href="{{url}}" {{#if settings.data_tag_enabled}}
                data-event-type="product-click" {{/if}}>
                {{name}}
            </a>
        </h3>

        <div class="card-text" data-test-info-type="price">
            {{#or customer (unless settings.hide_price_from_guests)}}
            {{> components/products/price price=price}}
            {{else}}
            {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
        {{> components/products/bulk-discount-rates}}
    </div>
</article>